<div class="container mt-5">
  <div class="card">
    <div class="card-body">
      <%= tag.div(flash[:alert], style: "color:red") if flash[:alert] %>
      <%= tag.div(flash[:notice], style: "color:green") if flash[:notice] %>

      <h1>Sign in</h1>
      <%= form_with url: session_path do |form| %>
        <div class="mb-3">
          <%= form.label :email_address, class: 'form-label' %>
          <%= form.email_field :email_address, required: true, class: 'form-control', autofocus: true, value: params[:email_address] %>
        </div>
        
        <div class="mb-3">
          <%= form.label :password, class: 'form-label' %>
          <%= form.password_field :password, required: true, class: 'form-control', autocomplete: "current-password", placeholder: "Enter your password", maxlength: 72 %><br>
        </div>
        
        <div class="mb-3 d-flex justify-content-between">
          <%= form.submit "Sign in", class: 'btn btn-success' %> <%= link_to "Forgot password?", new_password_path %>
        </div>
      <% end %>
    </div>
  </div>
</div>