<div class="container mt-5">
  <div class="card">
    <div class="card-body">
      <%= tag.div(flash[:alert], style: "color:red") if flash[:alert] %>
      <%= tag.div(flash[:notice], style: "color:green") if flash[:notice] %>
      <h1>Update your password</h1>
      <%= form_with url: password_path(params[:token]), method: :put do |form| %>
        <div class="mb-3">
          <%= form.label :password, class: 'form-label' %>
          <%= form.password_field :password, required: true, class: 'form-control', maxlength: 72 %><br>
        </div>
        <div class="mb-3">
          <%= form.label :password_confirmation, class: 'form-label' %>
          <%= form.password_field :password_confirmation, required: true, class: 'form-control', maxlength: 72 %><br>
        </div>
        <div class="mb-3">
          <%= form.submit "Save", class: 'btn btn-success' %>
        </div>
      <% end %>
    </div>
  </div>
</div>